.blog {
    background-color: #28ea89;
    padding: 30px 0;
}
.blog .header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.blog .header h2 {
    font-size: 30px;
    color: #2B2D3D;
}
.blog .header p {
    color: #fff;
    margin: 5px 0;
}
.blog .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blog .container .card {
    width: 350px;
    background-color: #fff;
    margin: 20px;
}
.blog .container .card figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.blog .container .card figure figcaption {
    font-weight: bold;
    margin: 20px 0 15px 20px;
}
.blog .container .card .card-content {
    padding: 15px;
}
.blog .container .card .card-content p {
    font-size: 14px;
    line-height: 2.4;
}
.blog .container .card .card-content button {
    color: #28ea89;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #2B2D3D;
    transition: .3s ease-in-out;
}
.blog .container .card .card-content button:hover {
    color: #2B2D3D;
    background-color: #28ea89;
}
.blog .plus-btn {
    text-align: center;
    margin: 50px 0;
}
.blog .plus-btn a {
    color: #28ea89;
    background-color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    transition: .3s ease-in-out;
}
.blog .plus-btn a:hover {
    background-color: #2B2D3D;
    color: #fff;
}