.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    line-height: 2;
}
.hero div {
    text-align: center;
    margin-top: 100px;
}
.hero div a {
    position: relative;
    color: #545B6B;
    background-color: #28ea89;
    padding: 10px 14px;
    border-radius: 50%;
    transition: .3s ease-in-out;
}
.hero div a:hover {
    color: #28ea89;
    background-color: #545B6B;
}