header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
header h2 img {
    width: 150px;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
}
header nav ul li a:hover {
    color: #28ea89;
}