.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box .service {
    width: calc(100% /3);
    text-align: center;
    padding: 60px 0;
}
.box .service div {
    position: relative;
    margin-bottom: 40px;
}
@media (max-width: 575.95px) {
    .box .service {
        width: 100%;
    }
}